---

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Blog | Blog</title>
  </head>
  <body>
    <div id="container">
      <div>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mí</a>
        <a href="/blog/">Blog</a>
      </div>
      <main>
        <section id="hero">
          <h1>Mi blog de Astro aprendizaje</h1>
          <p>Aquí es donde publicaré sobre mí viaje de aprendizaje Astro.</p>
        </section>
      </main>
    </div>
  </body>
</html>
