---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import "../styles/global.css";

const allPosts = await Astro.glob("./posts/*.md"); //Devuelve un array con todos los archivos .md en la carpeta posts
---

<Layout pageTitle="Mi blog de Astro aprendizaje">
  <main>
    <section>
      <p>Aquí es donde publicaré sobre mí viaje de aprendizaje Astro.</p>
    </section>
  </main>
  <div>
    {
      allPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate}
          tags={post.frontmatter.tags}
        />
      ))
    }
  </div>
</Layout>
