---
import Layout from "../layouts/Layout.astro";
import Greeting from "../components/Greeting";
---

<Layout pageTitle="Página de inicio">
  <h2>Mi impresionante subtítulo de blog</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</Layout>
