---
const pageTitle = "Página de inicio";
import "../styles/global.css";
---

<div id="container">
  <div>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mí</a>
    <a href="/blog/">Blog</a>
  </div>
  <main>
    <section id="hero">
      <h1>Mi sitio Astro</h1>
    </section>
  </main>
</div>
