---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "../styles/global.css";
const pageTitle = "Página de inicio";
---

<div id="container">
  <Header />
  <main>
    <section id="hero">
      <h1>{pageTitle}</h1>
    </section>
  </main>
  <Footer />
</div>

<script>
  import "../js/menu.js";
</script>
